{block content}
<h1>Na jakou obtížnost se cítíte?</h1>

<a n:href="Game:play easy" class="difficulty1">Easy</a>
<a n:href="Game:play medium" class="difficulty2"> Medium</a>
<a n:href="Game:play hard" class="difficulty3"> Hard</a>